<h2 class="text-center text-info bg-dark rounded">Evolution de la société</h2>

{# *** CALENDAR CHART *** #}
<div class="row rounded bg-dark">
        <div class="col d-flex justify-content-around align-items-center ">
            {% include '/dashboard/calendar_chart.html.twig' %}
        <div class="mb-3 rounded bg-dark border border-secondary" id="calendar_basic" style="width: 1000px; height: auto;"></div>
    </div>
</div>

{# *** TURNOVER / YEAR *** #}
<div class="row mt-5 rounded border border-secondary">
    <div class="col-12">
    <h3>C.A. par année</h3>
        <table class="table table-dark darker table-striped">
            <thead>
                <tr class="text-info">
                    {% for ody in ordersByYear %}
                    <th>{{ody.Year}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for ody in ordersByYear %}
                    <td class="text-warning">{{ody.Total}} €</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>


{# *** ADDITIONAL TABLE *** #}
<div class="row mt-5 rounded border border-secondary">
<div class="col-12">
    <table class="table table-dark darker table-striped">
        <thead>
            <tr class="text-info">
                <th class="text-center">Nombre de commandes en cours de livraison</th>
                <th>C.A. Pro</th>
                <th>C.A. Particuliers </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center"><strong class="text-danger badge badge-pill badge-warning">{{ sumVal - sumShip }}</strong></td>
                <td class="text-warning">{{sumPro}} €</td>
                <td class="text-warning">{{sumClient}} €</td>
            </tr>
        </tbody>
    </table>
</div>
</div>

</div>