{% extends 'base.html.twig' %}

{% block title %}Index des produits{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="text-warning mt-3 mb-3 text-center">Index des produits</h1>

    <table class="table table-dark darker table-striped">
        <thead>
            <tr class="text-warning">
                <th>Id</th>
                <th>Dénomination</th>
                <th>Fournisseur</th>
                <th>Prix</th>
                <th>Description</th>
                <th>Contenu</th>
                <th>Image principale</th>
                <th>Image1</th>
                <th>Image2</th>
                <th>Quantité stock</th>
                <th>Promotion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td class="text-break">{{ product.supplier.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.content }}</td>
                <td class="text-break">{{ product.image }}</td>
                <td class="text-break">{{ product.image1 }}</td>
                <td class="text-break">{{ product.image2 }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.discount ? 'Oui' : 'Non' }}</td>
                <td>
                    <a class="text-decoration-none" href="{{ path('app_admin_product_show', {'id': product.id}) }}"><i class="fa-solid fa-eye btn btn-warning border border-light Hl mb-1" title="Détails"></i></a>
                    <a class="text-decoration-none" href="{{ path('app_admin_product_edit', {'id': product.id}) }}"><i class="fa-solid fa-pencil btn btn-warning border border-light Hl" title="Modifier"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun produit trouvé !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn btn-warning text-warning mb-1"><a class="text-decoration-none text-white" href="{{ path('app_admin_product_new') }}">Nouveau produit</a></button>
</div>
{% endblock %}
