{% extends 'base.html.twig' %}

{% block title %}Cart index
{% endblock %}

{% block body %}
	<div class="container">
		<div class="text-center">
			<h1>Index des paniers</h1>
		</div>

		<table class="table table-dark darker">
			<thead>
				<tr class="text-primary roboto">
					<th> Id </th>
					<th>Utilisateur</th>
					<th>N° de commande</th>
					<th>Validée?</th>
					<th>Date de commande</th>
					<th>Expédiée?</th>
					<th>Date d'expédition</th>
					<th>Transporteur</th>
					<th>N° de livraison</th>
					<th>Total</th>
					<th>Remise additionnelle</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for cart in carts %}
					<tr>
						<td>{{ cart.id }}</td>
						<td class="text-success text-break">{{ cart.user.email }}</td>
						<td class="text-break">{{ cart.ClientOrderId }}</td>
						<td>{{ cart.Validated ? 'Oui' : 'Non' }}</td>
						<td class="text-break">{{ cart.orderDate ? cart.orderDate|date('d-m-Y H:i:s') : '' }}</td>
						<td>{{ cart.shipped ? 'Oui' : 'Non' }}</td>
						<td class="text-break">{{ cart.shipmentDate ? cart.shipmentDate|date('d-m-Y H:i:s') : '' }}</td>
						<td class="text-break">{{ cart.carrier }}</td>
						<td class="text-break">{{ cart.carrierShipmentId }}</td>
						<td>{{ cart.total }}</td>
						<td>{{ cart.additionalDiscountRate }}</td>
						<td>
							<button class="btn btn-primary mb-3 ml-3"><a class="text-decoration-none text-white" href="{{ path('app_admin_cart_show', {'id': cart.id}) }}">Détails</a></button>
							<button class="btn btn-primary mb-3 ml-3"><a class="text-decoration-none text-white" href="{{ path('app_admin_cart_edit', {'id': cart.id}) }}">Modifier</a></button>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="11">Aucun panier trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<button class="btn btn-primary mb-3 ml-3"><a class="text-decoration-none text-white" href="{{ path('app_admin_cart_new') }}">Nouveau panier</a></button>
	</div>
{% endblock %}
