{% extends 'base.html.twig' %}

{% block title %}Cart
{% endblock %}

{% block body %}
<div class="container">
    <div class="text-center">
		<h1>Détails du panier</h1>
    </div>

		<table class="table table-dark darker">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ cart.id }}</td>
				</tr>
				<tr>
					<th>Utilisateur</th>
					<td>{{ cart.user.email }}</td>
				</tr>
				<tr>
					<th>N° de commande</th>
					<td>{{ cart.ClientOrderId }}</td>
				</tr>
				<tr>
					<th>Validée?</th>
					<td>{{ cart.Validated ? 'Oui' : 'Non' }}</td>
				</tr>
				<tr>
					<th>Date de commande</th>
					<td>{{ cart.orderDate ? cart.orderDate|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>Expédiée?</th>
					<td>{{ cart.shipped ? 'Oui' : 'Non' }}</td>
				</tr>
				<tr>
					<th>Date d'expédition</th>
					<td>{{ cart.shipmentDate ? cart.shipmentDate|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>Transporteur</th>
					<td>{{ cart.carrier }}</td>
				</tr>
				<tr>
					<th>N° de livraison</th>
					<td>{{ cart.carrierShipmentId }}</td>
				</tr>
				<tr>
					<th>Remise additionnelle</th>
					<td>{{ cart.additionalDiscountRate }}</td>
				</tr>
				<tr>
					<th>Total</th>
					<td>{{ cart.total }}</td>
				</tr>
			</tbody>
		</table>

		<button class="btn btn-primary mb-3 ml-3"><a class="text-decoration-none text-white" href="{{ path('app_admin_cart_index') }}">Retour à la liste</a></button>

		<button class="btn btn-primary mb-3 ml-3"><a class="text-decoration-none text-white" href="{{ path('app_admin_cart_edit', {'id': cart.id}) }}">Modifier</a></button>

		{{ include('admin_cart/_delete_form.html.twig') }}
	</div>
{% endblock %}
