{{ form_start(contact) }}

<div class="row d-flex justify-content-center">
	<div class="col-md-6">
		{{ form_row(contact.email) }}<span id="wrongEmail"></span>
	</div>
	<div class="col-md-6">
		{{ form_row(contact.name, {
            label: "Votre nom"
        }) }}<span id="wrongFirstName"></span>
	</div>
	<div class="col-md-6">
		{{ form_row(contact.subject, {
            label: "Sujet de la demande"
        }) }}
	</div>
</div>

{{ form_row(contact.message) }}
<div class="col mb-5">
	<small>Merci de préciser les références des produits, commandes ou références de dossier dans le cas d'un suivi</small>
</div>

<div class="text-center">
	<button id="submit" type="submit" class="btn btn-lg btn-primary mb-3">Envoyer
	</button>
</div>

{{ form_end(contact) }}
