<h1>{{ name }},</h1>
<br><h3>Muse a bien reçu votre demande.</h3>
<h5>Voici le récapitulatif de votre demande :</h5>
<br><p>N° de dossier : {{ id }}</p>
<br><p><b>Nom : </b>{{ name }}</p>
<p><b>E-mail : </b>{{ refEmail }}</p>
<p><b>Sujet : </b>{{ subject }}</p>
<p><b>Message : </b>{{ message }}</p>


<br><br>L'équipe Muse a bien pris en compte votre demande et fait le nécessaire pour revenir vers vous au plus vite.<br><br>L'équipe de Muse</p>
<img style="width: 200px; border-radius: 10px;" src="http://localhost:8000/img/Muse_rect_no.jpg">