<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://localhost:8000/css/style.css">
		<title>Invoice</title>

		<style>
			body {
				background: url('');
			}

			#div1 {
				position: absolute;
				top: 3cm;
				left: 0;
				width: 15cm;
			}

			#div2 {
				position: absolute;
				justify-content: center;
				top: 30cm;
				left: 9cm;
				width: 10cm;
			}

			#div3 {
				position: absolute;
				text-align: end;
				top: 3cm;
				left: 20cm;
				width: 8cm;
			}


			table {
				position: absolute;
				top: 10cm;
			}

			/* img {
				border: 1px solid #000000;
			} */
		</style>
	</head>

	<body>
		<div id="div1">
			<b>{{app.user.userName}},
				{{app.user.userLastName}}</b><br>
			Date de naissance :
			{{app.user.birthdate|date('d-m-Y')}}<br>
			Tel :
			{{app.user.phoneNumber}}<br>
			Mail :
			{{app.user.email}}<br>
			{% if app.user.pro == true %}
				Société :
				{{app.user.proCompanyName}}<br>
				DUNS :
				{{app.user.proDuns}}<br>
			{% endif %}
			Vos adresses :
			<ul>
				<li>Adresse de facturation :
					{{order.billingAddress}}</li>
				<li>Adresse de livraison :
					{{order.deliveryAddress}}</li>
			</div>

			<p class="h1 text-dark text-center text-light mt-5 pt-5 mb-2">Votre Facture :</p>
			<h4 class="text-center text-secondary mb-1">Réf.:
				{{order.clientOrderId}}</h4>
			<h4 class="text-center text-secondary mb-5">Date de commande :
				{{order.orderDate|date('d-m-Y')}}</h4>

			<div id="div3">
				<b>Muse</b><br>
				123 Bis Avenue du Voyage<br>
				75000 Paris<br>
				Tel : +33-987654321<br>
				Mail : info@Muse.com
			</div>

			<table border="1" class="table table-striped table-bordered table-secondary border border-secondary mt-5 pt-5">
				<thead>
					<tr class="text-primary">
						<th>Produit</th>
						<th>Prix HT</th>
						<th>Promotion</th>
						{% for detail in details|slice(0, 1) %}
							{% if detail.cart.additionalDiscountRate != 0 %}
								<th class="text-success">Remise</th>
							{% endif %}
						{% endfor %}
						<th>TVA</th>
						<th>Quantité</th>
						<th>Sous-total</th>
					</tr>
				</thead>
				<tbody>
					{% for detail in details %}
						<tr>
							<td>
								<a class="text-decoration-none" href="{{ path('app_product_show', {'id': detail.product.id}) }}">
									<p>{{detail.product.name}}</p>
								</a>
							</td>
							<td>{{detail.product.price}}
								€</td>
							{% if detail.product.discountRate != 0 %}
								<td class="text text-danger">
									<div class="d-flex justify-content-start">
										<h5 class="text-danger">-{{ detail.product.discountRate * 100 }}
											%</h5>

									</div>
								{% else %}
									<td>-
									{% endif %}
								</td>
								{% if detail.cart.additionalDiscountRate != 0 %}
									<td class="text-success">-{{detail.cart.additionalDiscountRate * 100}}%</td>
								{% endif %}
								<td>{{ app.user.vat * 100}}%</td>
								<td>{{detail.quantity}}
									{% if detail.product.quantity == 0 %}
										({{detail.product.quantity}}
										left in stock)
									{% endif %}
								</td>
								<td class="h5{% if detail.product.discountRate != 0 %} text-danger{% endif %}">{{ ((detail.product.price * detail.quantity) * (1 - ( detail.product.discountRate + detail.cart.additionalDiscountRate)) * (1 +  app.user.vat ))|number_format(2, '.', '') }}€
								</td>
							</h4>
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3" class="text-right h4">
							<b>Total TTC:</b>
						</td>
						<td class="roboto h4">{{ order.total|number_format(2, '.', '') }}
							€</td>
						{% for detail in details|slice(0, 1) %}
							{% if detail.product.discountRate != 0 %}
								<td colspan="6">
								{% else %}
									<td colspan="5">
									{% endif %}
								{% endfor %}
							</td>
						</tr>
					</tr>
				</tfoot>
			</table>
			<div id="div2">{# <hr> #}<img src="https://alek6.amorce.org/img/Muse_rect_trans.png" class="img-thumbnail"><div class="text-center">
					L'entreprise "Muse"<br>
					Située : 123 Bis Avenue du Voyage, 75000 Paris<br>
					immatriculée au RCS de Paris 89870953601032<br>
					n° de téléphone : +33-987654321<br>
					adresse mail : info@Muse.com</div>
			</div>
		</body>
	</body>
</html>
