{{ form_start(form) }}
<div class="container">
<div class="row">
    <div class="col-md-3">
    {{ form_row(form.code) }}
    </div>
    <div class="col-md-3">
    {{ form_row(form.discountRate, { 'label': 'Taux de remise' }) }}
     </div>
    <div class="col-md-3">
    {{ form_row(form.cart, { 'label': 'Lier au panier :' }) }}
     </div>
    <div class="col-md-3">
    {{ form_row(form.validated, { 'label': 'Validé?' }) }}
     </div>
    </div>
    <button class="btn btn-warning border border-light mb-1">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
