{% extends 'base.html.twig' %}

{% block title %}Coupon index{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mb-3">Coupon index</h1>

    <table class="table table-dark darker table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Taux de remise</th>
                <th>Validé?</th>
                <th>Client(s)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for coupon in coupons %}
            <tr>
                <td>{{ coupon.id }}</td>
                <td>{{ coupon.code }}</td>
                <td>{{ coupon.discountRate }}</td>
                <td>{{ coupon.validated ? 'Oui' : 'Non' }}</td>
                <td>

                {% for cart in coupon.Cart %}

#}
                {% endfor %}

                </td>
                <td>
                    <a href="{{ path('app_coupon_show', {'id': coupon.id}) }}"><i class="fa-solid fa-eye btn btn-warning border border-light Hl" title="Détails"></i></a>
                    <a href="{{ path('app_coupon_edit', {'id': coupon.id}) }}"><i class="fa-solid fa-pencil btn btn-warning border border-light Hl" title="Modifier"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun bon trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

     <button class="btn btn-warning mb-1"><a class="text-decoration-none text-light" href="{{ path('app_coupon_new') }}">Nouveau bon</a></button>
     </div>
{% endblock %}
