{% extends 'base.html.twig' %}

{% block title %}Index des utilisateurs{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="text-center text-danger mt-3">Index des utilisateurs</h1>

    <table class="table table-striped table-dark table-sm" border="1">
        <thead class="">
            <tr class="text-danger text-center">
                <th class="">Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Mot de passe</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Date de naissance</th>
                <th>Adresse(s)</th>
                <th>Compte vérifié</th>
                <th>Date d'enregistrement</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="text-break">
                <td>{{ user.id }}</td>
                <td class="text-success">{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.userName }}</td>
                <td>{{ user.userLastname }}</td>
                <td>{{ user.birthdate|date('d-m-Y') }}</td>
                <td><i>{{ addresses|length }}</i></td>
                <td>{{ user.verified ? 'Oui' : 'Non' }}</td>
                <td>{{ user.registerDate|date('d-m-Y') }}</td>
                <td>
                    <a class="text-decoration-none text-light" href="{{ path('app_user_show', {'id': user.id}) }}"><i class="fa-solid fa-eye btn btn-danger border border-light Hl mb-1" title="Détails"></i></a>
                    <a class="text-decoration-none text-light" style="width: 1150px;" href="{{ path('app_user_edit', {'id': user.id}) }}"><i class="fa-solid fa-pencil btn btn-danger border border-light Hl" title="Modifier"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun utilisateur trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    {# <button class="btn btn-danger border-light ml-3 mb-3"><a class ="text-decoration-none text-light" href="{{ path('app_user_new') }}">Create new</a></button> #}
{% endblock %}
