<nav class="navbar navbar-expand-lg navbar-dark sticky-top shadow-lg">
	<div class="navbar-header">
		<a class="navbar-brand" href="{{ path('app_home') }}">
			<img class="brand" alt="Brand" title="Muse home page" name="brand" src="/img/Muse_rect_no.jpg">
		</a>
	</div>
	<button class="navbar-toggler mr-auto" {# mr-auto to force the hamburger menu to the left-hand side #} type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>


	<div class="collapse navbar-collapse" id="navbarSupportedContent">

		<ul class="navbar-nav">

			<li class="nav-item text-center mr-3">
				<a class="nav-link {% if app.request.attributes.get('_route') == 'app_home' %}active{% endif %}" href="{{ path('app_home') }}">
					<div>
						<i class="fa-solid fa-home fa-lg mb-1"></i>
					</div>
					Page d'accueil
				</a>
			</li>
			<li class="nav-item text-center mr-3">
				<a class="nav-link text-decoration-none{% if app.request.attributes.get('_route') == 'app_category' %}active{% endif %}" href="{{ path('app_category') }}">
					<div>
						<i class="fa-solid fa-list-ul fa-lg mb-1"></i>
						<span class="badge rounded-pill badge-notification bg-light text-dark position-absolute translate-middle border border-dark ml-3">
							{{ categories|length }}
						</span>
					</div>
					Catégories
				</a>
			</li>

			<li class="nav-item text-center mr-3">
				<a class="nav-link text-decoration-none {% if app.request.attributes.get('_route') == 'app_product' %}active{% endif %}" href="{{ path('app_product') }}">
					<div>
						<i class="fa-solid fa-guitar fa-lg mb-1"></i>
						<span class="badge rounded-pill badge-notification bg-light text-dark position-absolute translate-middle border border-dark ml-3">
							{{ products2|length }}
						</span>
					</div>
					Catalogue
				</a>
			</li>

			<li class="nav-item text-center mr-3">
				<a class="nav-link text-decoration-none {% if app.request.attributes.get('_route') == 'app_discount' %}active{% endif %}" href="{{ path('app_discount') }}">
					<div>
						<i class="fa-solid fa-hand-holding-dollar fa-lg mb-1"></i>
						<span class="badge rounded-pill badge-notification bg-warning text-dark position-absolute translate-middle border border-dark ml-2">
							{{ discount2|length }}
						</span>
					</div>
					Promotions
				</a>
			</li>

			{% if is_granted('ROLE_ADMIN') %}
				{% else %}
					<li class="nav-item text-center mr-3">
						<a class="nav-link text-decoration-none {% if app.request.attributes.get('_route') == 'app_cart_index' %}active{% endif %}" href="{{ path('app_cart_index') }}">
							<div>
								<i class="fa-solid fa-cart-shopping fa-lg mb-1"></i>
								{% if count > 0 %}
									<span class="badge rounded-pill badge-notification bg-danger position-absolute translate-middle border border-dark ml-2">
										{{ count }}
									</span>
								{% endif %}
							</div>
							Votre panier
						</a>
					</li>
			{% endif %}

			{% if is_granted('ROLE_SHIP') %}
				<li class="nav-item dropdown ml-4">
					<i class="fa-solid fa-lock-open fa-lg text-danger ml-5"></i>
					<a class="nav-link dropdown-toggle text-danger" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<b>Back Office</b>
					</a>
					<div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
						<a class="dropdown-item text-primary" href="{{ path('admin') }}">
							<strong>Tableau de bord</strong>
						</a>
						<div class="dropdown-divider"></div>

						<a class="dropdown-item text-danger" href="{{ path('app_user_index') }}">
							<b>Index des utilisateurs</b>
						</a>
						{% if is_granted('ROLE_SALES') %}
							<div class="dropdown-divider"></div>
							<a class="dropdown-item text-danger" href="{{ path('app_admin_product_index') }}">
								<b>Index des produits</b>
							</a>
							<a class="dropdown-item text-danger" href="{{ path('app_admin_product_new') }}">
								<i>Nouveau produit</i>
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item text-danger" href="{{ path('app_admin_category_index') }}">
								<b>Index des catégories</b>
							</a>
							<a class="dropdown-item text-danger" href="{{ path('app_admin_category_new') }}">
								<i>Nouvelle catégorie</i>
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item text-danger" href="{{ path('app_supplier_index') }}">
								<b>Index des fournisseurs</b>
							</a>
							<a class="dropdown-item text-danger" href="{{ path('app_supplier_new') }}">
								<i>Nouveau fournisseur</i>
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item text-warning" href="{{ path('app_admin_cart_index') }}">
								<i>
									<strong>Infos Paniers/commandes</strong>
								</i>
							</a>
						{% endif %}
						<a class="dropdown-item text-warning" href="{{ path('app_validated_orders') }}">
							<b>Commandes Clients</b>
						</a>
					</div>
				</li>
			{% elseif app.user %}
				<li class="nav-item dropdown">
					<i class="fa-solid fa-user fa-lg text-secondary ml-5 {% if app.request.attributes.get('_route') == 'app_client_show' %}text-light{% elseif app.request.attributes.get('_route') == 'app_validated_orders' %}text-light{% else %}text-secondary{% endif %}"></i>
					<a class="nav-link dropdown-toggle text-decoration-none {% if app.request.attributes.get('_route') == 'app_client_show' %}text-light{% elseif app.request.attributes.get('_route') == 'app_validated_orders' %}text-light{% else %}text-secondary{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Votre profil</a>
					<div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
						<a class="dropdown-item text-light" {% if is_granted('ROLE_ADMIN') %} href="{{ path('app_user_show', {'id': app.user.id}) }}" {% else %} href="{{ path('app_client_show', {'id': app.user.id}) }}" {% endif %}>
							<b>Vos informations personnelles</b>
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item text-light" href="{{ path('app_validated_orders') }}">
							<b>Vos commandes</b>
						</a>
					</div>
				</li>
			{% endif %}
		</ul>

		{# <div class="row ml-3 mr-auto mt-auto mb-auto">
				{{ form_start(searchForm2, {attr: {class: ''}}) }}
		<div class="d-flex justify-content-center align-items-center">
		
				{{ form_row(searchForm2.q) }}
		</div>
				{{ form_end(searchForm2) }}
			</div> #}

		<div class="row flex-row">
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<a class="nav-link text-info my-auto" href="{{ path('app_logout') }}">
					<button type="button" class="btn btn-sm btn-outline-warning Hl" style="position: absolute; right: 20px; top: 50px;">
						<i>Déconnexion</i>
					</button>
				</a>
			{% else %}
				<a class="nav-link text-info my-auto" href="{{ path('login') }}">
					<button type="button" class="btn btn-sm btn-outline-warning Hl" style="position: absolute; right: 20px; top: 50px;">
						<i>Connexion</i>
					</button>
				</a>
			{% endif %}
			<span class="navbar-text text-light mt-0 mb-0"></span>
		</div>

	</div>
</nav>
