{% extends 'base.html.twig' %}

{% block title %}Formulaire d'inscription
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<div class="container">
		<h1 class="text-primary text-center mt-3 mb-3">Inscription</h1>
		<h4 class="text-center mb-3">Un email de confirmation vous sera envoyé à la validation du formulaire</h4>
<noscript>
      <h2 class="text-danger">Javascript est désactivé dans votre navigateur web. Certaines fonctionnalités ne fonctionneront pas correctement.</h2>
</noscript>
		{{ form_start(registrationForm) }}

		<div class="row">
			<div class="form-group col-md-6">
				{{ form_row(registrationForm.email) }}<span id="wrongEmail"></span>
			</div>
			<div class="form-group col-md-6">
				{{ form_row(registrationForm.plainPassword, {
					label: 'Mot de passe'
				}) }}<span id="wrongPassword"></span>
			</div>

			<div class="form-group col-md-6">
				{{ form_row(registrationForm.userName, {
					label: 'Prénom'
				}) }}<span id="wrongFirstName"></span>
			</div>
			<div class="form-group col-md-6">
				{{ form_row(registrationForm.userLastName, {
					label: 'Nom de famille'
				}) }}<span id="wrongName"></span>
			</div>

			<div class="form-group col-md-6">
				{{ form_row(registrationForm.birthdate, {
					label: 'Date de naissance'
				}) }}
			</div>
			<div class="form-group col-md-6">
				{{ form_row(registrationForm.phoneNumber, {
					label: 'Numéro de téléphone'
				}) }}<span id="wrongPhone"></span>
			</div>
		</div>

		{{ form_row(registrationForm.pro, {
            label: "Etes-vous un professionnel?"
        }) }}

		<div id="proForm" class='col-6 ml-5'>
			<span id="wrongProCompanyName"></span>{{ form_row(registrationForm.proCompanyName, {
				label: "Raison sociale"
			}) }}

			<span id="wrongProJobPosition"></span>{{ form_row(registrationForm.proJobPosition, {
				label: "Votre poste au sein de la société"
			}) }}

			<span id="wrongDuns"></span>{{ form_row(registrationForm.proDuns, {
				label: "Numéro DUNS (SIRET International)"
			}) }}
		</div>

		<h2 class="text-center mt-3">
			<b>Votre Adresse :</b>
		</h2>
		<div class="row">
			<div class="form-group col-md-3">
				{{ form_row(registrationForm.address_name, {
					label: "Titre de l'adresse"
				}) }}
				<small class="text-primary">(ex: Domicile, Adresse de livraison n°1, Adresse de facturation n°3...)</small>
			</div>
			<div class="form-group col-md-3">
				{{ form_row(registrationForm.address_country, {
					label: "Pays"
				}) }}
			</div>
			<div class="form-group col-md-3">
				{{ form_row(registrationForm.address_zipcode, {
					label: "Code postal"
				}) }}<span id="wrongZipcode"></span>
			</div>

			<div class="form-group col-md-3">
				{{ form_row(registrationForm.address_city, {
					label: "Ville", 'id': 'cityList'
				}) }}<span id="wrongCity"></span>
			</div>
		</div>
		<div class="row d-flex justify-content-center">
			<div class="form-group col-md-3">
				{{ form_row(registrationForm.address_path_number, {
					label: "Numéro de voie"
				}) }}
			</div>
			<div class="form-group col-md-6">
				{{ form_row(registrationForm.address_path_type, {
					label: "Voie"
				}) }}
				<small class="text-primary">(ex: Rue de la Gare, Avenue des Champs Elysées, Impasse...)</small>
			</div>
		</div>

		{{ form_row(registrationForm.agreeTerms, {
            label: "Accepter nos conditions d'utilisation"
        }) }}
		<a class="ml-5" href="{{ path('app_terms_and_agreements') }}">Voir les mentions légales</a>
		<div class="row justify-content-center">
			<div class="text-center">
				<button id="submit" class="btn btn-info btn-lg mb-3 border-light">S'inscrire</button>
			</div>
		</div>
		{{ form_end(registrationForm) }}
		<noscript>
			<h2 class="text-danger">Javascript est désactivé dans votre navigateur web. Certaines fonctionnalités ne fonctionneront pas correctement.</h2>
		</noscript>
	</div>

{% endblock %}
