<h2>{{ app.user.userName }}
	{{ app.user.userLastName }},</h2>
<br><h3>Bienvenue sur Muse!</h3>
<br><h3>Voici le récapitulatif de vos informations personnelles :</h3>
<br><p><b>Prénom : </b>{{ app.user.userName }}</p>
<p><b>Nom : </b>{{ app.user.userLastName }}</p>
<p><b>E-mail : </b>{{ app.user.email }}</p>
<p><b>Date de naissance : </b>{{ user.birthdate ? user.birthdate|date('d-m-Y') : '' }}</p>
{# {% if user.address %}<p><b>Adresse : </b>{{ user.address }}</p>{% endif %} #}
<p><b>N° téléphone : </b>{{ user.phoneNumber }}</p>
<p></p><br>

{% if user.proCompanyName %}
<p><b>Raison sociale : </b>{{ user.proCompanyName }}</p>
<p><b>Votre poste : </b>{{ user.proJobPosition }}</p>
<p><b>DUNS : </b>{{ user.proDuns }}</p>
<p></p><br>
{% endif %}

<h3>Votre adresse :</h3>
{% for address in addresses %}
<p><b>Titre adresse : </b>{{ address.name }}</p>
<p><b>Pays : </b>{{ address.country }}</p>
<p><b>Code postal : </b>{{ address.zipcode }}</p>
<p><b>Ville : </b>{{ address.city }}</p>
<p><b>N° de voie : </b>{{ address.pathNumber }}</p>
<p><b>Type de voie : </b>{{ address.pathType }}</p>
{% endfor %} 

<br><br>Merci de votre confiance et à bientôt sur Muse!<br><br>L'équipe de Muse</p>

<img style="width: 200px; border-radius: 10px;" src="http://alek6.amorce.org/img/Muse_rect_no.jpg">