{{ form_start(form) }}
<div class="row">
	<div class="form-group col-md-6">
		{{ form_row(form.email) }}<span id="wrongEmail"></span>
	</div>
	<div class="form-group col-md-6">
		{{ form_row(form.userName) }}<span id="wrongFirstName"></span>
	</div>
	<div class="form-group col-md-6">
		{{ form_row(form.userLastname) }}<span id="wrongName"></span>
	</div>
	<div class="form-group col-md-6">
		{{ form_row(form.birthdate) }}
	</div>
</div>
<div class="row">
<div class="form-group col-md-6">
	{{ form_row(form.phoneNumber) }}<span id="wrongPhone"></span>
</div>
</div>
<div class="d-flex">
<button id="submit" class="btn btn-warning mr-5 ml-5 mb-3" onclick="history.back()">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
