{{ form_start(newAddressForm) }}
<div class="container">
	<div class="row">
		<div class="form-group col-md-3">
			{{ form_row(newAddressForm.name, {
            label: "Titre de l'adresse"
        }) }}
			<small>(ex: Domicile, Adresse de livraison n°1, Adresse de facturation n°3...)</small>
		</div>
		<div class="form-group col-md-3">
			{{ form_row(newAddressForm.country, {
            label: "Pays"
        }) }}
		</div>
		<div class="form-group col-md-3">
			{{ form_row(newAddressForm.zipcode, {
            label: "Code postal"
        }) }}<span id="wrongZipcode"></span>
		</div>
		<div class="form-group col-md-3">
			{{ form_row(newAddressForm.city, {
            label: "Ville"
        }) }}<datalist id="cityList"></datalist>
		</div>
	</div>
	<div class="row d-flex justify-content-center">
		<div class="form-group col-md-3">
			{{ form_row(newAddressForm.pathNumber, {
            label: "N° de voie"
        }) }}
		</div>
		<div class="form-group col-md-6">
			{{ form_row(newAddressForm.pathType, {
            label: "Voie"
        }) }}<small>(ex: Rue du Gal de Gaulle, Avenue, Impasse...)</small>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-6">
			{{ form_row(newAddressForm.billingAddress, {
            label: "Définir comme adresse de facturation"
        }) }}
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-6">
			{{ form_row(newAddressForm.deliveryAddress, {
            label: "Définir comme adresse de livraison"
        }) }}
		</div>
	</div>

	<button class="btn btn-warning border border-light ml-5" onload="history.go(-1)">{{ button_label|default('Enregistrer votre nouvelle adresse') }}</button>
</div></div>{{ form_end(newAddressForm) }}
